<!DOCTYPE html>
<html lang="eng">
    <head>
        <title> DevDomain </title>
        <meta description="Tech Blog that delivers technological insights 
        and provides people with the skills needed for their coding journey ">
        <link rel="icon" href="images\Profile Pic.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
       
        <link rel="stylesheet" href="styles\main.css">
        
    </head>
    <body>
        <nav id="navbar">
            <div class="navbar-left ">
                <a class="navbar-items" href="https://orawusitimilehin.onrender.com/" target="_blank"><img id="profile-pic" src="images\Profile Pic.png"></a>
                <a class="navbar-items" href="/"><span id="logo">DEVDOMAIN</span></a>
            </div>
            
            <div class="navbar-right">
                <ul class="navbar-right-container">
                    <li>
                        <a  href="/posts"> <button class="normal-text navbar-buttons navbar-items">Posts</button> </a>
                    </li>
                    <li>
                        <a href="/login"> <button class="normal-text navbar-buttons navbar-items">Log in</button> </a>
                    </li>
                    <li>
                        <a href="/signup"> <button class="normal-text navbar-buttons navbar-items">Sign Up</button> </a>
                    </li>
                </ul>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            
        </nav>
        <div class="navigation-slider">
            <div class="nav-list">
            <a href="/posts"> <button class="slider-items">Posts</button> </a>
            <a href="/login"> <button class="slider-items">Log in</button> </a>
            <a href="/signup"> <button class="slider-items">Sign Up</button> </a>
            </div>
        </div>
        

        <div id="main-container">
            <img id="astronaut-img" src="images\astronaut-2.png">
            <img id="planet1-img" class="planets" src="images\Planet1.png">
            <img id="planet2-img"  class="planets" src="images\Planet2.png">
            <h1 id="heading">DEVDOMAIN</h1>
            <h2 id="description-text" class="normal-text">Simplified tech tutorials and insights for all skill levels at DevDomain.</h2>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="scripts\script.js"></script>
    </body>
</html> 