<!DOCTYPE html>
<html>
    <head>
        <title> DevDomain </title>
        <meta description="Tech Blog that delivers technological insights 
        and provides people with the skills needed for their coding journey ">
        <link rel="icon" href="images\Profile Pic.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles\main.css">
        <link rel="stylesheet" href="styles\auth.css">
        
    </head>


    <!-- NAVBAR TO BY INCLUDED CONSISTENTLY ON ALL PAGES WITHOUT REPEATING THE CODE - ACHIEVED USING TEMPLATING OR BACKEND WITH EXPRESS -->
    <%- include('navbar.ejs') -%>



    <section id="auth-section">
        <div id="auth-card">
            <form action="/login", method="POST">
                <!-- messages .error is an array -->
                <% if (messages.error && messages.error.length > 0) { %>
                    <p style="color: red;"><%= messages.error[0] %></p>
                  <% } %>
                <label class="auth-form auth-form-labels" for="email-login"> Email: </label>
                <input  class="auth-form auth-form-inputs" type="email" name="email" id="email-login" placeholder=" Enter your email here">
                <label class="auth-form auth-form-labels" for="password-login"> Password: </label>
                <input class="auth-form auth-form-inputs" type="password" name="password" id="password-login">
                <input type="submit" class="submit-button" name="login-button" id="login-button" value="Log in">
            </form>

        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="scripts\script.js"></script>
</html>