<!-- Old Version -->

<nav id="navbar">
    <div class="navbar-left ">
        <a class="navbar-items" href="https://orawusitimilehin.onrender.com/" target="_blank"><img id="profile-pic" src="images\Profile Pic.png"></a>
        <a class="navbar-items" href="/"><span id="logo">DEVDOMAIN</span></a>
    </div>
    
    <div class="navbar-right">
        <ul class="navbar-right-container">
            <li>
                <a  href="/posts"> <button class="normal-text navbar-buttons navbar-items">Posts</button> </a>
            </li>
             <% if (authenticated == false){%> 
            <li>
                <a href="/login"> <button class="normal-text navbar-buttons navbar-items">Log in</button> </a>
            </li>
            <li>
                <a href="/signup"> <button class="normal-text navbar-buttons navbar-items">Sign Up</button> </a>
            </li>
                 <% }else{ %>
                    <li>
                        <a href="/profile"> <button class="normal-text navbar-buttons navbar-items">Account</button> </a>
                    </li>
                    <li>
                        <a href="/logout"> <button class="normal-text navbar-buttons navbar-items">Log Out</button> </a>
                    </li>
                 <%} %> 
        </ul>
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    
</nav>
<div class="navigation-slider">
    <div class="nav-list">
    <a href="/posts"> <button class="slider-items">Posts</button> </a>
    <a href="/login"> <button class="slider-items">Log in</button> </a>
    <a href="/signup"> <button class="slider-items">Sign Up</button> </a>
    </div>
</div>


<!-- Bootstrap -->
<!-- <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
    <a class="navbar-link" href="https://orawusitimilehin.onrender.com/" target="_blank"><img id="profile-pic" src="images\Profile Pic.png"></a>
      <a class="navbar-link" href="/">Oluwatimilehin</a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            
            <span><a  class="navbar-link nav-link body-text" href="/posts"> Posts </a></span>
            
            <span><a class="navbar-link nav-link body-text" href="/login"> Login </a></span>
            <span> <a class="navbar-link nav-link body-text" href="/signup"> Signup </a></span>
        </div>
        </div>
      </div>
    </div>
  </nav> -->