<!DOCTYPE html>
<html>
    <head>
        <title> DevDomain </title>
        <meta description="Tech Blog that delivers technological insights 
        and provides people with the skills needed for their coding journey ">
        <link rel="icon" href="images\Profile Pic.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles\main.css">
        <link rel="stylesheet" href="styles\posts.css">
        
    </head>
    <body>


        <!-- NAVBAR TO BY INCLUDED CONSISTENTLY ON ALL PAGES WITHOUT REPEATING THE CODE - ACHIEVED USING TEMPLATING OR BACKEND WITH EXPRESS -->
        <%- include('navbar.ejs') -%>

        <img id="astronaut-img" src="images\Astronaut.png">
        <img id="planet-img" src="images\Planet2.png">
        <img id="planet2-img" src="images\Planet1.png">
        <h1 id="post-heading"> POSTS </h1>
        <div id="posts-container">
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            <div class="post-box">

            </div>
            
            
            
        </div>
        <section id="button-placement-container">
            <div id="buttons-container">
                <button id="previous-button" class="post-buttons"> Previous </button>
                <button id="next-button" class="post-buttons"> Next </button>
            </div>
        </section>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="scripts\script.js"></script>
</html>