/* General */

*{
    border: 0;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Azonix';
    color: #ffffff;
    background-image: url("..\\images\\Background-Image.png");
    background-size: cover;
    background-position: center;
    
}
button{
    border: solid 0.1rem #000c4195;
    border-radius: 1.5rem;
    background-color: transparent;
    font-family: 'Questrial', sans-serif;
    width: 4.6rem;
    height: 2.4rem;
    cursor: pointer;
}


@font-face {
    font-family: 'Azonix';
    src: url('fonts\\Azonix.otf') format('woff2'), /* Modern Browsers */
         url('fonts\\Azonix.otf') format('woff');   /* Older Browsers */
    /* Add more src lines for additional font formats if needed */
  }

  @font-face{
    font-family: 'Cornerstone';
    src: url('fonts\\Cornerstone.ttf') format('woff2'), url('fonts\\Cornerstone.ttf') format('woff');
  }

li{
    list-style: none;
}





/* Navbar section */
#logo{
    font-weight: 500;
    font-size:1.15rem;
    font-family: "Azonix", monospace;
    letter-spacing: 0.05rem;
}
#navbar{
    width:90%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-items:hover{
    transform: scale(1.075);
    transition: 0.15s ease-in-out;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-right{
    width: 35%;

}
.navbar-right-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-buttons{
    width: 4rem;
    border-color: white;
    border-width: 0.085rem;
}

.navbar-buttons:hover{
    background-color: white;
    color: #132644;
    transition: 0.15s ease-in-out;
}
#profile-pic{
    width: 2.485rem;
    margin-right: 1rem;
}








/* Main Section */

#astronaut-img{
    width: 23rem;
    position: absolute;
    z-index: -1;
    top: -2rem;
    right: 35%;
    transform: rotate(-10deg)
}


#description-text{
    font-weight: 400;
    font-size: 1.0rem;
}

#heading{
    font-size: 7.2rem;
    font-family: "Space Mono", monospace;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin-top: 6.5rem;
    z-index: 3;
}

#main-container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.normal-text{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
}

.planets{
    width: 4rem;
    position: absolute;
    z-index: -1;
}

#planet1-img{
    top: 15%;
    left: 0rem;
}

#planet2-img{
    top: 55%;
    right: 0rem;
}




/* Responsiveness */

/* Phone Viewport */

@media screen and (max-width: 411px){
    #astronaut-img{
        width: calc(23rem - 30%);
        top: 6rem;
        right: 18%;
        
    }
    #description-text{
        font-size: 0.5rem;
    }
    #heading{
        font-size: 3rem;
        margin-top: calc(6.5rem + 25%);
        
    }
    .navbar-buttons{
        width: 3.5rem;
        height: 2rem;
    }
    .planets{
        width: 2.5rem;
    }
    body{
        background-color: red;
    }
}

@media screen and (min-width:412px) and (max-width: 450px){
    #astronaut-img{
        width: calc(23rem - 30%);
        top: 6.3rem;
        right: 22%;
        
    }
    #description-text{
        font-size: 0.5rem;
    }
    #heading{
        font-size: 3rem;
        margin-top: calc(6.5rem + 25%);
        
    }
    .navbar-buttons{
        width: 3.5rem;
        height: 2rem;
    }
    .planets{
        width: 2.5rem;
    }
    body{
        background-color: red;
    }
}

/* Small Viewport */
@media screen and (min-width: 451px) and (max-width: 576px){
    #astronaut-img{
        width: calc(23rem - 30%);
        top: 4rem;
        right: 30%;
        
    }
    #description-text{
        font-size: 0.5rem;
    }
    #heading{
        font-size: 3rem;
        margin-top: calc(6.5rem + 8%);
        
    }
    .navbar-buttons{
        width: 3.5rem;
        height: 2rem;
    }
    .planets{
        width: 2.5rem;
    }
}

/* Others */
@media screen and (min-width: 577px) and (max-width: 768px){

    #heading{
        font-size: 4.5rem;
        margin-top: calc(6.5rem + 8%);
        
    }
    #astronaut-img{
        width: calc(23rem - 20%);
        top: 5.2rem;
    }
    .navbar-buttons{
        width: 3.5rem;
        height: 2rem;
    }
    .planets{
        width: 3rem;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
    #heading{
        margin-top: calc(6.5rem + 5%);
    }
  
    #astronaut-img{
        /* width: calc(23rem - 5%); */
        top: calc(-2rem + 6%);
        right: 32%;
    }
   
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
 
    html{
        font-size: 16px;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
 
    html{
        font-size: 17px;
    }

}

@media screen and (min-width: 1441px) {
    
    #astronaut-img{
        right: 40%;
    }

    html{
        font-size: 18px;
    }


}

@media screen and (min-width: 1442px) and (max-width: 1600px) {
    
    #astronaut-img{
        right: 37%;
    }

    html{
        font-size: 18px;
    }


}

@media screen and (min-width: 1601px) and (max-width: 2040px){
    
    #astronaut-img{
        right: 39%;
    }

    html{
        font-size: 18px;
    }

}

@media screen and (min-width: 2041px){
    
    #astronaut-img{
        right: 41%;
    }

    html{
        font-size: 18px;
    }

}

/* My standard breakpoints are:

360px - 575px
576px - 767px
768px - 991px
992px - 1199px
1200px - 1440px

Some times I go up to 2560px depending on the design layout and project. */