/* General */

*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Azonix';
    color: #ffffff;
    background-image: url("..\\images\\Background-Image.png");
    background-size: cover;
    background-position: center 100vh;
}
button{
    border: solid 0.1rem #000c4195;
    border-radius: 1.5rem;
    background-color: transparent;
    font-family: 'Questrial', sans-serif;
    width: 5rem;
    height: 2.5rem;
}

@font-face {
    font-family: 'Azonix';
    src: url('fonts\\Azonix.otf') format('woff2'), /* Modern Browsers */
         url('fonts\\Azonix.otf') format('woff');   /* Older Browsers */
    /* Add more src lines for additional font formats if needed */
  }

li{
    list-style: none;
}

/* Navbar section */
#logo{
    
}
#navbar{
    border: solid 3px #687EFF;
    width:90%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-right{
    width: 35%;

}
.navbar-right-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profile-pic{
    width: 3rem;
    margin-right: 1rem;
}


/* Main Section */
#heading{
    font-size: 7.8rem;
    letter-spacing: 0.3rem;
    margin-top: 5rem;
}

#main-container{
    border: solid 3px #FF004D   ;
    height: 88.3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;
    
}

.normal-text{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
}

#main-container p{
    font-size: 1.3rem;
}